<!DOCTYPE html>
<html>
  <head>
    <title>设置请求参数</title>
    <meta charset="utf8">
  </head>
  <body>
    <h1>设置请求参数</h1>
    <p>服务端返回的内容： <span id="result"></span></p>

    <script>
      var options = {
        credentials: 'same-origin'
      };

      fetch('/api/with-credentials', options)
        .then(response => response.text())
        .then(uid => {
          console.log(`cookies.uid === ${uid}`);
        });
    </script>
  </body>
</html>
