<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>视频聊天</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

	<div class="login-container">
		<input type="text" placeholder="输入登录名" class="login-name" id="login-name" />
		<button class="login-btn" id="login-btn">登录</button>
	</div>
	
	<div class="video-talk-container">
		<div class="login-users-container">
			<ul id="login-users"></ul>
		</div>

		<div class="video-container">
			<div class="local-video-wrapper">
				<label class="title">本地视频</label>
				<video id="local-video" class="local-video" autoplay muted></video>
			</div>
			<div class="remote-video-wrapper">
				<label class="title">远程视频</label>
				<video id="remote-video" autoplay muted></video>
			</div>
		</div>
	</div>
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/client.js"></script>
</body>
</html>