<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>视频聊天</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

	<div class="login-container">
		<input type="text" placeholder="输入登录名" class="login-name" id="login-name" />
		<button class="login-btn" id="login-btn">登录</button>
	</div>

	<div class="login-users-container">
		<ul id="login-users"></ul>
	</div>

	<div class="video-container">
		<div class="local-video-wrapper">
			<video id="local-video"></video>
		</div>
		<div class="remote-video-wrapper">
			<video></video>
		</div>
	</div>

</body>
</html>