body {
  padding: 50px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*.container { display: flex; flex-direction: row; }*/
.login-container { margin-bottom: 20px; }
.video-talk-container { display: flex; flex-direction: row; }
.login-users-container { width: 200px; border: 1px solid #ccc; padding: 20px; }
.video-container { position: relative; flex: 1; border: 1px solid #ccc; padding: 20px; }
.video-container .local-video { position: absolute; width: 200px; top: 20px; right: 20px; }