<!DOCTYPE html>
<html>
<head>
	<title>React Server Demo</title>	
</head>
<body>

<h1>React Server Demo</h1>
<div id="container">
{{{content}}}
</div>

<script type="text/javascript" src="/js/bundle.js"></script>

</body>
</html>