{
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-es2015-classes",
    "transform-es2015-modules-commonjs",
    ["transform-regenerator", { "asyncGenerators": false }]
  ]
}