<html>
    <head>
        <meta charset="utf-8">
        <title>watchers</title>        
    </head>
    <body>

        <div id="app">
            <input type="text" v-model="question">
            <ul>
                <li v-for="item in items">{{ item.text }}</li>
            </ul>
        </div>

        <script src="../node_modules/vue/dist/vue.js"></script>
        <script>
            var items = [
                { text: '数学' },
                { text: '语文' },
                { text: '英语' }
            ];

            var app = new Vue({
                el: '#app',
                data: {
                    question: '',
                    items: []
                },
                watch: {
                   question: function (newQuestion) {
                        this.items.push( { text: newQuestion } )
                   } 
                }
            })
        </script>        
    </body>
</html>